@import "../../styles/global.scss";

.button-container {
  color: $color-black;
  border: 0.125rem solid;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.188rem;
  
  button {
    margin-bottom: 3.125rem;
  }
  
  &.primary {
    &:hover, &:focus {
      box-shadow: 0.625rem 0.625rem $color-primary;
    }
  }
  &.secondary {
    &:hover, &:focus  {
      box-shadow: 0.625rem 0.625rem $color-secondary;
    }
  }
  &.tertiary {
    &:hover, &:focus  {
      box-shadow: 0.625rem 0.625rem $color-tertiary;
    }
  }
  &.primary-variant {
    &:hover, &:focus  {
      box-shadow: 0.625rem 0.625rem $color-primary-variant;
    }
  }
  &.secondary-variant {
    &:hover, &:focus  {
      box-shadow: 0.625rem 0.625rem $color-secondary-variant;
    }
  }
  &.tertiary-variant {
    &:hover, &:focus  {
      box-shadow: 0.625rem 0.625rem $color-tertiary-variant;
    }
  }
}
