@import '../../styles/global.scss';

.boxes-container {
    display: flex;
    color: black;
    flex-wrap: wrap;
    padding-top: 5vh;
    .boxes-item {
        flex: 1 0 30%;
        padding-right: 50px;
        padding-bottom: 50px;
        .boxes-label{
            border-bottom: 1px solid rgba(42, 43, 48, 0.253);
            padding-bottom: 20px;
            text-transform: uppercase;
            color: rgb(160, 160, 160);
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 3px;
        }
        .boxes-value {
            padding-top: 20px;
            font-size: 20px;
        }
    }
}   