@import '../../styles/global';

.scroller-container {
  position: fixed;
  z-index: $z-index-scroll;
  display: none;
  cursor: pointer;
  border: none;
  background: none;
  font-family: 'Syne';
  font-weight: bold;
  align-items: center;
  justify-content: center;

  &.mobile {
    display: flex;
    bottom: 0.625rem;
    left: 30%;
    .scroller-text {
      padding-left: 0.875rem;
      p {
        font-size: 0.875rem;
      font-weight: bold;
      }
      &.dark {
        p {
          color: $color-black !important;
        }
      }
    }

    @include laptop {
      display: none;
    }
  }
  &.dark {
    @include dark;
  }
  &.desktop {
    display: none;

    @include laptop {
      display: block;
      bottom: 9.313rem;
    }
  }
 
  .scroller-text {
    font-size: 0.875rem;
    font-weight: 800;
    color: $color-white;
    &.dark {
      @include dark;
    }
  }
  .scroller {
    width: 3.75rem;
    height: 1.75rem;
    border: 0.313rem solid $color-white;
    border-radius: 0.938rem;


    &.dark {
      @include dark;
      border: 0.313rem solid $color-black;
    }


    .scroller-circle {
      width: 0.875rem;
      height: 0.875rem;
      color: $color-white;
      margin: 0.125rem;
      border-radius: 6.25rem;
      background: $color-white;
      animation: scroller 1s infinite;
      &.dark {
        background: $color-black;
      }
      &.dark {
        @include dark;
      }

      @keyframes scroller {
        0% {
          transform: translateX(0rem);
        }
        100% {
          transform: translateX(1.875rem);
        }
      }
    }
  }
}