.about-content-container {
    color: $color-black;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
    padding: 0px 10px;

    @include laptop {
        display: flex;
        flex-wrap: wrap;
    }

    &.start {
        align-items: flex-start;

        .about-content-image {
            padding-right: 5%;  
            position: relative;          
            top: 0;

            @include laptop {
                position: sticky;
            }
        }
    }

    .about-content-image {
        flex: 1 0 40%;
        margin-bottom: 20px;
        img {
            animation: opacity-show 3s ease forwards;
            width: 90%;
            height: fit-content;
        }
    }
    .about-content-description {
        flex: 1 0 40%;
        animation: opacity-show 3s ease forwards;
    }
}

@keyframes opacity-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}