.work-page-container {
    background-color: $background-color-primary--about;
    padding: 0rem 0.625rem;
    #work-overview-title {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .work-overview-content {
        color: $color-black;
        font-size: 1rem;

        animation: opacity-text 1s ease forwards;
    }
    .work-more {
        color: $color-black;
        margin-bottom: 5vh;
        @include laptop {
            padding-top: 5vh;
        }
    }
}

.ref-container-styles {
    height: 100vh;
    position: absolute;
}

.work-images-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.5rem;

    .work-image-item {
        flex: 1 0 30%;
        width: 30%;
        margin-right: 1.25rem;
        border: 0.125rem solid $color-black;
        @include color-pallete-set('box-shadow', '', 0.375rem 0.375rem);

        &:hover{
            animation: scale-img .5s ease-in-out forwards;
        }
    }
}

@keyframes scale-img {
    from {
        scale: 1
    }
    to {
        z-index: 10;
        scale: 1.2;
    }
}
@keyframes opacity-text {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}