@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne&family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins");

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2)
    format("woff2");
}

.material-icons {
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-feature-settings: "liga";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin typography(
  $fontSize,
  $lineHeight,
  $fontWeight: 400,
  $letterSpacing: -0.0.313rem,
  $fontFamily: Poppins
) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  letter-spacing: $letterSpacing;
  font-family: $fontFamily;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.p {
  @include typography(0.875rem, 1.2, 500, 0.188rem, Syne);
  @include tablet {
    @include typography(1rem, 1.2, 500, 0.188rem, Syne);
  }
  @include big-desktop {
    @include typography(1.5rem, 1.2, 500, 0.188rem, Syne);
  }
}

h1,
.h1 {
  @include typography(4.063rem, 4rem, 600, -0.188rem);
  @include tablet { 
    @include typography(6.25rem, 6rem, 600, -0.188rem);
  }
  @include desktop {
    @include typography(7.125rem, 7rem, 600, -0.188rem);
  }
  @include big-desktop {
    @include typography(11.25rem, 9.375rem, 600, -0.188rem);
  }
}

h2,
.h2 {
  @include typography(2.5rem, 2.5rem, 600, -1.1.563rem);
  @include tablet {
    @include typography(3rem, 3rem, 600, -1.1.563rem);
  }
  @include desktop {
    @include typography(3.45rem, 3.45rem, 600, -1.1.563rem);
  }
  @include big-desktop {
    @include typography(5.625rem, 5.313rem, 600, -1.1.563rem);
  }
}

h3,
.h3 {
  @include typography(2.25rem, 2.25rem, 500, -0.063rem);
  @include tablet {
    @include typography(2.5rem, 2.5rem, 500, -0.063rem);
  }
  @include big-desktop {
    @include typography(3rem, 3rem, 500, -0.063rem);
  }
}

h4,
.h4 {
  @include typography(1.5rem, 1.5rem, 500, -0.0.313rem);
  @include desktop {
    @include typography(2.25rem, 2.5rem, 500, -0.0.313rem);
  }
}

h5,
.h5 {
  @include typography(1.125rem, 1.563rem, 600, 0.5rem);
  @include desktop {
    @include typography(2rem, 2.5rem, 600, 0.625rem);
  }
}

h6,
.h6 {
  @include typography(0.875rem, 1.5rem, 500, -0.1.563rem);

  @include desktop {
    @include typography(1rem, 1.75rem, 500, 0);
  }
}

a {
  text-decoration: none;
}
