@import '../../styles/global.scss';

.progress-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: 6.25rem;
    opacity: 0;
    &.show {
        animation: opacity-show 3s ease forwards;
    }
    .progress-label-container {
        flex: 1 0 40%;
        width: 40%;
        .progress-label {
            color: $color-black;
        }
    }
    .progress-container {
        height: 2.5rem;
        width: 30vw;
        border: 0.125rem solid;
        border-color: $color-black;
        @include color-pallete-set("box-shadow", "", 0.375rem 0.375rem);
        .progress-fill {
            height: 1.875rem;
            position: relative;

            &.show {
                &:after {
                    content: "";
                    position: absolute;
                    margin-top: 0.188rem;
                    margin-left: 0.188rem;
                    animation: animate-bar 2s forwards;
                    height: 1.875rem;
                    width: inherit;
                    background-color: rgb(146, 146, 146);
                }
            }
        }
    }
} 

@keyframes animate-bar {
    from {
        width: 30%;
    }
    30% {
        width: 60%;
    }
    40% {
        width: 30%;
    }
    60% {
        width: 80%;
    }
    80%{
        width: 50%;
    }
    to {
        width: inherit;
    }
    
}

@keyframes opacity-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}