@import "../../styles/global";

@keyframes change_styles {
  0% {
    width: 4.9rem;
    @include desktop {
      width: 5rem;
    }
  }
  50% {
    width: 100vw;
  }
  100% {
    width: 4.9rem;
    @include desktop {
      width: 5rem;
    }
  }
}

@keyframes expand_nav {
  from {
    height: 3.438rem;
  } 
  50% {
    height: 100%;
  }
  to {
    height: 3.438rem;
  }
}

@keyframes open_sidebar {
  0% {
    width: 0;
  }
  100% {
    width: 100vw;
  }
}
@keyframes hide_sidebar {
  0% {
    width: 100vw;
  }
  100% {
    width: 0;
  }
}

.navigation-container {
  display: none;
  @include laptop {
    display: block;
  }
}

@mixin button-default {
  font-family: Syne;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.313rem;
  background-color: transparent;
  border: none;
  font-size: 0.75rem;

  @include tablet {
    font-size: 0.8rem;
  }
  @include desktop {
    font-size: 0.9rem;
  }
  @include big-desktop {
    font-size: 1.125rem;
  }
}

.navigation-mobile {
  position: absolute;
  top: 0;
  height: 3.438rem;
  border-bottom: 0.125rem solid $color-white;
  width: 100vw;
  padding: 0 0.938rem;
  justify-content: space-between !important;
  @include background-pallete-set("background", "");
  z-index: $z-index-navigation;
  display: block;
  animation: expand_nav 1s ease forwards;

  @include laptop {
    display: none !important;
  }

  &.dark {
    @include dark;
    border-bottom: 0.125rem solid $color-black;
  }


  button {
    @include button-default;
  }

  .navigation-logo-mobile {
    position: absolute;
    left: 0.938rem;
    top: -1rem;
    transform: scale(0.75) translateX(-1.75rem);
    &.dark {
      @include dark;
    }
  }
  .menu-button {
    cursor: pointer;
    top: 0.813rem;
    position: absolute;
    right: 1.563rem;

    i {
      color: $color-white;
    }
    &.dark {
      i {
        color: $color-black;
      }
    }
  }
  @include laptop {
    display: none;
  }
}

.menu-container-mobile {
  width: 0rem;
  display: none;
  animation: hide_sidebar 1s ease forwards;

  .menu-close {
    color: $color-white;
    &.dark {
      @include dark;
    }
  }

  &.show {
    animation: open_sidebar 1s ease forwards;
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 1.563rem;
    .menu-list-items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      p {
        @include typography(1.875rem, 1.2, 500, 0.188rem, Syne);
        color: $color-white;
        &.dark {
          @include dark;
        }
      }
      a {
        cursor: pointer;
      }
    }

    @include background-pallete-set("background", "");
    .menu-item {
      &:hover, &:focus {
        text-decoration: underline;
        @include color-pallete-set("text-decoration-color", "");
        text-underline-offset: 0.5rem;
        text-decoration-thickness: 0.438rem;
      }
    }
  }
}

.site-logo-container {
  height: 100vh;
  position: fixed;
  z-index: $z-index-logo;
  border-right: 0.125rem solid $color-white;
  width: 100vw;
  animation: change_styles 1s ease-in-out forwards;
  transition: all 0.4s ease-in-out;
  @include background-pallete-set("background", "");

  .navigation-logo {
    position: fixed;
    transform: rotate(270deg);
    left: -2.25rem;
    top: 2.35rem;

    @include big-desktop {
      top: 3.75rem;
    }
  }

  &.dark {
    @include dark;
    border-right: 0.125rem solid $color-black;
  }
}

.navigation-normal {
  position: absolute;
  z-index: $z-index-navigation;
  padding: 0.313rem 4.063rem;
  width: 100%;
  justify-content: flex-end;
  font-size: 1rem;
  text-align: center;

  .navigation-items {
    font-weight: 700;
    letter-spacing: 0.313rem;

    a {
      cursor: pointer;
      margin-left: 5vw;
      color: $color-black;
    }

    button {
      @include button-default;
      margin-left: 5vw;
    }
  }
}

.hire-button {
  color: $color-black;
  background-color: $color-white;
  padding: 0.625rem 1.625rem;
  border-radius: 0.25rem;
  position: relative;
  @include color-pallete-set("color", "i");

  i {
    position: absolute;
    left: -1.625rem;
    top: -0.313rem;
    font-size: 3.25rem;
    animation: arrow_button 1s infinite;

    @keyframes arrow_button {
      0% {
        transform: translateX(-0.313rem);
      }
      100% {
        transform: translateX(0.125rem);
      }
    }
  }
}

.go-up-button {
  position: fixed;
  bottom: 0;
  padding-top: 0.625rem;
  border: none;
  background: $background-color-primary--about;
  cursor: pointer;
  display: none;
  @include color-pallete-set("color", "i");

  width: 4.9rem;

  i {
    font-size: 3.125rem;
    width: 4rem;
    text-align: center;
  }

  &.dark {
    background: $color-black;
  }

  i {
    color: $color-white;
  }
}

.linkedin-button {
  position: fixed;
  bottom: 4.563rem;
  border: none;
  background: $background-color-primary--about;
  cursor: pointer;
  height: 4.375rem;
  width: 4.9rem;
  @include color-pallete-set("color", "p");

  p {
    @include typography(2rem, 0, 400, 0, Tilt Warp);
    width: 4rem;
    text-align: center;
  }

  &.dark {
    background: $color-black;

    p {
      color: $color-white;
    }
  }
}

.skip-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  opacity: 0;

  &:focus, &:active {
    opacity: 1;
    z-index: 50;
    background-color: $background-color-primary--about;
    color: $color-black;
    padding: 0.625rem;
    text-align: center;
    border: 0.125rem solid;
    font-size: 1rem;
    border-radius: 0;
  }
}